/* Global styles for Skills Section */
.skills-section {
  font-family: 'Poppins', sans-serif;
  padding: 50px 20px; /* Ajusta espacio arriba y abajo */
  background-color: #08090A;
  color: #66D7D1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px; /* Separación entre elementos dentro de la sección */
}

/* Title Styles */
.skills-section h2 {
  font-size: 76.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}

.skills-section h2:hover {
  color: #FF99B2; /* Cambio de color suave */
}

/* Skills Grid Layout */
.skills-grid {
  display: grid; /* Usamos grid layout */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Ajusta columnas dinámicamente */
  gap: 60px; /* Espacio entre los elementos */
  width: 60%; /* Asegúrate de que ocupe todo el ancho del contenedor */
  justify-content: center; /* Centra los elementos si hay espacio sobrante */
  align-items: center; /* Alinea los elementos verticalmente */
}

/* Skill Card Styles */

.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Mayor espacio interno */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para mejor visibilidad */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Agrega profundidad */
  transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
  transform: scale(1.05); /* Ligeramente más grande al pasar el ratón */
}

/* Icon Styling */
.icon {
  font-size: 50px; /* Tamaño inicial */
  color: #DA4167; /* Color rosa */
}

.icon:hover {
  color: #FF99B2; /* Color más claro */
  filter: brightness(1.2); /* Más brillo */
}

.iconoGsap {
  width: 50px; /* Tamaño del logo */
  height: 50px;
  object-fit: contain; /* Asegura que el logo no se deforme */
  transition: transform 0.3s, filter 0.3s;
}

.iconoGsap:hover {
  transform: scale(1.2);
  filter: brightness(1.5) saturate(1.5); /* Aumenta el brillo y la saturación al pasar el ratón */
}


/* Typography for Skill Titles and Descriptions */
h3 {
  margin-top: 10px;
  font-size: 22px;
  color: #FFFFFF; /* Blanco para contraste */
}

h1 {
  font-size: 12px;
  color: #B0B0B0; /* Gris claro */
}
p {
  font-size: 10px;
  color: #FF99B2; 
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Iconos más pequeños en pantallas pequeñas */
    gap: 15px;
  }

  .skills-section h2 {
    font-size: 48px; /* Reduce el tamaño del título en pantallas pequeñas */
  }
}
